@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  padding-inline: 20%;
}

header {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-content .logo {
  display: block;
  fill: #ff385c;
}

.header-content nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-content .links {
  display: flex;
  align-items: center;
}

.header-content .links > a {
  font-weight: 600;
  color: #222222;
  padding: 12px;
  text-decoration: none;
  border-radius: 20px;
}

.header-content .links > a:hover {
  background-color: #f7f7f7;
}

.header-content .user {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 48px;
  padding: 8px 8px 8px 14px;
  gap: 14px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  color: #222222;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
}

.header-content .user:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.header-content .user svg {
  fill: #6a6a6a;
}
